
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="IFA Secure">
    <title>IFA Secure - Simple, Safe, Compliant</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->

    <!-- styles -->
    <% if (config.environment === 'dev') { %>
        <link rel="stylesheet" href="/css/styles.css" />
    <% } else { %>
        <link rel="stylesheet" href="/css/styles.min.css?_=v<%= config.uniqueVersion() %>" />
    <% } %>
    <!-- firebase -->
    <script type="text/javascript">
    <% if (config.environment === 'prod') { %>
      var firebaseURI = "https://ifasecure.firebaseIO.com"
    <% } else { %>
      var firebaseURI = "https://ifasecuredev.firebaseIO.com"
    <% } %>
    </script>
  </head>
  <body ng-controller="mainController">
<!-- NAVBAR
================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <a class="brand" href="#">
        <i class="logo pull-left">
            <img src="/img/w_logo.png" class="img-responsive">
        </i>
      </a>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href="#signup">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <!-- Jumbotron -->
      <div class="jumbotron backgrounds-red-yellow">
        <div class="row">
          <div class="col-md-12">
            <h1><span class="banner">Do you worry that you'll be liable for crippling financial penalties?</span></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h2><strong>Simple.</strong></h2>
            <p>Feel secure in the knowlege that you won't be exposed to significant fines for non compliance by using IFA Secure.</p>
            <p>    <a data-toggle="modal" href="#auditModal" class="btn btn-primary btn-lg free-audit-button">Click here for a FREE Audit</a></p>
          </div>
          <div class="col-md-8">
            <!--<p class="pull-right">SME's face data security fines of up to <strong>&pound;500,000</strong>.</p>-->
          </div>
        </div>
      </div>
    
      <div class="row jumbo-row">
        <div class="visible-lg">
          <img src="http://placehold.it/1140x300">
        </div>
        <div class="visible-md">
          <img src="http://placehold.it/940x300">
        </div>
        <div class="visible-sm">
          <img src="http://placehold.it/720x300">
        </div>
        <div class="visible-xs">
          <img src="http://placehold.it/640x300" class="img-responsive">
        </div>
      </div>
    {{message}}
      <div class="row text-center jumbo-row">
        <div class="col-md-3 pricing-option">
          <h4>Small</h4>
          <h4>£15 / Month</h4>
          <span>For One Person Teams</span>
          <hr/>
          <ul class="unstyled">
            <li>Up to 5GB Storage</li>
            <li>Unlimited Clients</li>
            <li>Unlimited Documents</li>
            <li>Full Encryption</li>
          </ul>
          <button class="btn btn-primary">Choose Plan</button>
        </div>
        <div class="col-md-3 pricing-option">
          <h4>Premium</h4>
          <h4>£30 / Month</h4>
          <span>2-5 People Teams</span>
          <hr/>
          <ul class="unstyled">
            <li>Up to 10GB Storage</li>
            <li>Unlimited Clients</li>
            <li>Unlimited Documents</li>
            <li>Full Encryption</li>
          </ul>
          <button class="btn btn-primary">Choose Plan</button>
        </div>
        <div class="col-md-3 pricing-option-emph">
          <h4>Plus</h4>
          <h4>£45 / Month</h4>
          <span>Perfect For Most</span>
          <hr/>
          <ul class="unstyled">
            <li>Up to 20GB Storage</li>
            <li>Unlimited Clients</li>
            <li>Unlimited Documents</li>
            <li>Full Encryption</li>
            <li>Guaranteed FCA Compliance</li>
          </ul>
          <button class="btn btn-primary">Choose Plan</button>
        </div>
        <div class="col-md-3 pricing-option">
          <h4>Enterprise</h4>
          <h4>£60 / Month</h4>
          <span>For Large Organisations</span>
          <hr/>
          <ul class="unstyled">
            <li>Up to 100GB Storage</li>
            <li>Unlimited Clients</li>
            <li>Unlimited Documents</li>
            <li>Full Encryption</li>
            <li>Guaranteed FCA Compliance</li>
          </ul>
          <button class="btn btn-primary">Choose Plan</button>
        </div>
      </div>
    </div><!--container -->

    <!-- Modal -->
    <div class="modal fade" id="auditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Please enter your details for a free audit</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" name="name" id="inputName" placeholder="Enter your full name" ng-model="info.name">
              </div>
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Enter your email" ng-model="info.email">
              </div>
              <div class="form-group">
                <label for="inputPhone">Phone</label>
                <input type="text" class="form-control" name="phone" id="inputPhone" placeholder="Enter your telephone number" ng-model="info.phone">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="sendContactInfo()">Get My FREE Audit</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Placed at the end of the document so the pages load faster -->
    <% if (config.environment === 'dev') { %>
        <script data-main="/js/main.js" src="/js/libs/require.js"></script>
    <% } else { %>
        <script src="/js/scripts.min.js?_=v<%= config.uniqueVersion() %>"></script>
    <% } %>
    <% if (config.environment === 'prod') { %>
        <script src="//cdn.optimizely.com/js/338769085.js"></script>
    <% } %>
  </body>
</html>
